## Configuration File
BUILDS_COUNT		= 3

TECH			= php
EXECUTE_SCRIPT		= N

STATIC_FILES		= version.ini
STATIC_DIRS		= ""

#Git
GIT_BRANCH		= production
INCREASE_VERSION	= Y

#Push notification
PUSH			= N
PUSH_URL		= 
PUSH_SECRET		= 

#PHP
RUN_COMPOSER		= N
RUN_ARTISAN		= N

#Python
RUN_GUNICORN		= N
